.container{

    
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2.5rem;

    display: flex;
    flex-direction: column;
    
    
}

.container section{
    flex: 1;

    flex-direction: column;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem; /* Espaçamento entre as duas grids*/
    align-content: center;
    position: relative;
    top: 4rem;
    
}



